<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<appSettings>
		<add key="ServiceAssemblyName" value="Jufine.Backend.Security.ServiceImplement,Jufine.Backend.BaseData.ServiceImplement,Jufine.Backend.Accounting.ServiceImplement"/>
		<add key="Config/Website.config" value="Config/Website.config"/>
	</appSettings>
	<connectionStrings>
		<!--27    -->
		<add name="SecurityConn" connectionString="Data Source=.;Initial Catalog=Security;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
			 providerName="System.Data.SqlClient" />
		<add name="SecurityEntities" connectionString="metadata=res://*/DataAccess.Security.csdl|res://*/DataAccess.Security.ssdl|res://*/DataAccess.Security.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Security;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
		  providerName="System.Data.EntityClient" />
		<add name="BaseDataEntities" connectionString="metadata=res://*/DataAccess.BaseData.csdl|res://*/DataAccess.BaseData.ssdl|res://*/DataAccess.BaseData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BaseData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="IMEntities" connectionString="metadata=res://*/DataAccess.IM.csdl|res://*/DataAccess.IM.ssdl|res://*/DataAccess.IM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.27;initial catalog=IM;persist security info=True;user id=sa;password=jh@123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="AccountingEntities" connectionString="metadata=res://*/DataAccess.Accounting.csdl|res://*/DataAccess.Accounting.ssdl|res://*/DataAccess.Accounting.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Accounting;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<system.web>
		<httpRuntime requestValidationMode="2.0" executionTimeout="800" maxRequestLength="40960" useFullyQualifiedRedirectUrl="false"/>
		<compilation debug="true" targetFramework="4.0" />

		<pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="asp" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
				<add tagPrefix="asp" namespace="AjaxControlToolkit.HTMLEditor" assembly="AjaxControlToolkit" />
				<add tagPrefix="asp" namespace="Com.BaseLibrary.Web" assembly="Com.BaseLibrary.Web" />
				<add tagPrefix="asp"  tagName="UCUploadFile" src="~/MasterPageDir/UserControls/UCUploadFile.ascx"/>
				<add tagPrefix="asp"  tagName="SearchableListBox" src="~/MasterPageDir/UserControls/SearchableListBox.ascx"/>
			</controls>
		</pages>
	</system.web>
	<system.webServer>
		<handlers>
			<add name="AspNetStaticFileHandler-GIF" path="*.gif" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
			<add name="AspNetStaticFileHandler-JPG" path="*.jpg" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
			<add name="AspNetStaticFileHandler-PNG" path="*.png" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
			<add name="AspNetStaticFileHandler-CSS" path="*.css" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
			<add name="AspNetStaticFileHandler-JS" path="*.js" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
		</handlers>
	</system.webServer>
</configuration>
